<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Freestyle App</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<h1>
			{% block title_section %} {% endblock %}
		</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<main>
			{% block function_section %} {% endblock %}
		</main>
		{% if not hidden %}
			<nav>
				<a href="{{ url_for('main_page') }}">Back To Menu</a>
			</nav>
		{% endif %}
	</body>
</html>
