{% extends "base.html" %}

{% block title_section %} Edit Word {% endblock %}

{% block function_section %}
{% if word %}
	<p> Selected word: {{ word[1] }} </p>
{% endif %}
{% if rhymes %}
	<p> Rhymes: </p>
	<ul>
	{% for rhyme in rhymes %}
		<li> {{ rhyme[1] }} </li>
	{% endfor %}
	</ul>
{% endif %}
<p> What would you like to do? </p>
<ul>
	<li><a href="{{ url_for('edit_rename_page', word_id=word[0]) }}"> Rename word </a></li>
	<li><a href="{{ url_for('edit_add_rhymes_page', word_id=word[0]) }}"> Add rhymes </a></li>
	<!-- more options later: delete word, delete rhymes -->
</ul>
{% endblock %}
