{% extends "base.html" %}

{% block title_section %} Edit Word {% endblock %}

{% block function_section %}
{% if word %}
	<p> Selected word: {{ word[1] }} </p>
{% endif %}
{% if rhymes %}
	<p> Rhymes: </p>
	<ul>
		{% for rhyme in rhymes %}
			<li>
				{{ rhyme[1] }}
				<form action="{{ url_for('edit_delete_rhyme_page', word_id=word[0], rhyme_id=rhyme[0]) }}" method="POST">
					<input type="submit" value="Delete?">
				</form>
			</li>
		{% endfor %}
	</ul>
{% endif %}
<p> What would you like to do? </p>
<ul>
	<li><a href="{{ url_for('edit_rename_page', word_id=word[0]) }}"> Rename word </a></li>
	<li><a href="{{ url_for('edit_add_rhymes_page', word_id=word[0]) }}"> Add rhymes </a></li>
	<li><a href="{{ url_for('edit_delete_word_page', word_id=word[0]) }}"> Delete word </a></li>
</ul>
{% endblock %}
